---
layout: default
---
<div id="intro">
  <h1 style="text-align:center;">Welcome to my Github Page!</h1>
  <p>Blogs: my past blogs</p>
  <p>About: my information</p>

  <h1 style="text-align:center;">Latest blogs</h1>

  {% for i in (0..2) %}
    <article class="post">
      <p>{{ i|plus:1 }}. <a href="{{ site.baseurl }}{{ site.posts[i].url }}">{{ site.posts[i].title }}</a></p>
    </article>
  {% endfor %}
  

</div>

<!-- <div id="recent_blogs" class="posts">
  <h2 style="text-align: center">Recent blogs</h2>

  {% for i in (0..0) %}
    <article class="post">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ site.posts[i].title }}</a></h2>
      <div style="text-align: center" class="entry">{{ site.posts[i].excerpt }}</div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div> -->